body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh;

}

.nav_navbar_common {
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 100%;

}


@media only screen and (max-width: 768px) {
  .nav_navbar_common {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
  }
}