body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh;

}

#navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav_navbar_common {
  display: flex;
  justify-content: space-between;
}

.adds_property {
  display: none;
}

.banner {
  width: 100%;
  height: 30em;
  padding: 1em;
  padding-top: 5em;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 45%;
  background-position: 50% 20%;
  .grouped-rows {
    display: flex;
    flex-direction: column;
    .grouped-forms {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav_navbar_common {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
  }

}

