body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh;

}

#navbar{
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav_navbar_common {
  display: flex;
  justify-content: space-between;
}

.adds_property {
  display: none;
}

.banner {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav_navbar_common {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
  } 

}

